gitflow*/
.idea*/
_content*/
_logs*/
plugins/*/node_modules/
node_modules/contentstack-*.zip
node_modules/contentstack-express/node_modules*
node_modules/contentstack-express/*.zip
*.zip
themes/basic/templates/pages/
config*/
reports*/